<h1>Table</h1>
<!--<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="2">Operations</th>
    </tr>
  </thead>

  <tbody *ngFor="let person of people; let i = index">
    <tr *ngIf="!person.isDelete">
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td><button (click)="delete(i)">Delete</button></td>
      <td><button (click)="edit(person)">Edit</button></td>
    </tr>
    <tr *ngIf="person.isDelete" colspan="4">
      <button (click)="person.isDelete = false">undo</button>
    </tr>
  </tbody>
</table>
-->
<table mat-table [dataSource]="people" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.lastName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">
      {{ element.gender }}
    </td>
  </ng-container>

  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Operations</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="operation1">
    <th
      mat-header-cell
      *matHeaderCellDef
      [attr.colspan]="2"
      [ngStyle]="{ display: 'none' }"
    >
      Operations
    </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button color="primary" (click)="edit(element)">
        Edit
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
